![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance:

## Which schools produce the highest math scores?
* Specifically, which schools have an average math SAT score of at least 80%?
* Save the results as a pandas DataFrame called `best_math_schools`.

## Who are the top 10 schools based on average results across reading, math, and writing?
* Save the results as a pandas DataFrame called `top_10_schools`.

## Which NYC borough has the largest standard deviation for SAT results?
* Save the results as a pandas DataFrame called `largest_std_dev`.

In [1]:
# Start coding here... 
import pandas as pd
path = 'schools.csv'
cs = pd.read_csv(path)

school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested

In [2]:
threshold = 0.8 * 800
best_math_schools = cs[cs['average_math'] >= threshold][['school_name', 'average_math']]
# Sort the DataFrame by average_math in descending order
best_math_schools = best_math_schools.sort_values('average_math', ascending=False)

# Print the resulting DataFrame
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
# Calculate the total SAT score by summing the scores across the three sections
cs['total_SAT'] = cs['average_math'] + cs['average_reading'] + cs['average_writing']

# Sort the DataFrame by total_SAT in descending order and select the top 10 schools
top_10_schools = cs.sort_values('total_SAT', ascending=False).head(10)[['school_name', 'total_SAT']]

# Print the resulting DataFrame
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:
# Group the schools by borough and calculate the statistics
borough_stats = cs.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)

In [5]:
largest_std_dev = borough_stats[borough_stats['std'] == borough_stats['std'].max()].reset_index()
largest_std_dev.columns = ['borough', 'num_schools', 'average_SAT', 'std_SAT']

In [6]:
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29